* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #f9f9f9f9;
  min-height: 100vh;
  overflow-x: hidden;
}
header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 30px 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  /* background-color: bisque; */
}
.logo {
  font-size: 2em;
  color: #359381;
  margin-right: 270px;
}
.navigation {
  display: none;
}
/* parallax */
#parallax {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  overflow: hidden;
}
#parallax img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#about {
  height: 300vh;
  background-color: #359381;
}

#good {
  position: absolute;
  font-size: 2em;
  color: #fff;
  text-shadow: 2px 2px 4px black;
}
.icon {
  display: block;
  color: #359381;
  margin-left: auto;
}
.container-1{
  margin: 100px 5%;
  /* background-color: red; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.wrap-img img{
  width: 100%;
  /* border-radius: 20px; */
}
.wrap-img{
  width: 100%;
}
.card-one{
  width: 25%;
  background-color: bisque;
  padding: 12px;
  border-radius: 12px;
  box-shadow: rgba(17, 12, 46, );
}
.teks-card button{
  padding: 12px 24px;
  background-color: #4C6FFF;
  border-radius: 12px;
  color: #fff;
  border: none;
}
.teks-card{
  padding: 12px 0;
}
.teks-card p{
  margin: 12px 0;
  color: gray;
}

@media (min-width: 1280px) {
  .navigation {
    display: block;
  }
  .navigation a {
    /* background-color: blueviolet; */

    text-decoration: none;
    color: #359381;
    padding: 6px 15px;
    border-radius: 20px;
    margin: 0 10px;
    font-weight: 600;
  }
  .navigation :hover,
  .navigation a.active {
    background-color: #359381;
    color: #fff;
  }
  #good {
    position: absolute;
    font-size: 5em;
    color: #fff;
    text-shadow: 2px 2px 4px black;
  }
  .icon {
    display: none;
  }
}
